/* 1.1 Базовые настройки */
* 
{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 
{ 
    font: 48px/42px Georgia, 'Times New Roman', Times, serif;
}

h2 
{ 
    font: 400 48px/42px Georgia, 'Times New Roman', Times, serif;
}

a 
{ 
    outline: none; 
    text-decoration: none; 
}

a:hover, 
a:active, 
a:focus 
{ 
    text-decoration: none; 
}

.open_sans 
{ 
    font-family: 'Open Sans', sans-serif
}

.weight_500 
{ 
    font-weight: 500;
}

.weight_600 
{ 
    font-weight: 600;
}

.weight_700 
{ 
    font-weight: 700 
}

.color_light_gray 
{ 
    color: #848484 
}

.color_dark_gray 
{
    color: #555555 
}

.color_green 
{ 
    color: #15a98c 
}

.underline 
{
    text-decoration: underline;
}